<html>
<head>
<title>Pantry</title>
<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
<div id="app">
  <div class="command-bar">
    <button v-for="m in modes"
            :class="{ selected: m == activeMode }"
            @click="switchMode(m)"
            >{{ m }}</button>
  </div>

  <div id="add-inventory"
       class="command-bar"
       v-if="activeMode == 'Add'">

    <div id="location">
      <button v-for="l in locations"
            :class="{ selected: l == selectedLocation }"
            @click="switchLocation(l)"
            >{{ l.name }}</button>
      <button class="new" @click="clickNewLocation()">New Location...</button>
    </div>
    <div v-if="creatingNewLocation">
      <row>
        <label>Location Name:</label>
        <input type="text" id="new-location-name" style="width: 30%"></input>
        <button @click="clickAddNewLocation()">Add Location</button>
      </row>
    </div>
  </div>
</div>
  <!--
    <div class="product-image">
      <img :src="image" />
    </div>

    <div class="product-info">
      <h1>{{ product }}</h1>
      <p v-if="inStock">In Stock</p>
      <p v-else :class="{strikeThrough: !inStock}">Out of Stock</p>

      <ul>
        <li v-for="detail in details">{{ detail }}</li>
      </ul>


        <div class="color-box"
             v-for="variant in variants" 
             :key="variant.variantId"
             :style="{ backgroundColor: variant.variantColor }"
             @mouseover="updateProduct(variant.variantImage)"
             >
        </div> 

        <button v-on:click="addToCart" 
          :disabled="!inStock"
          :class="{ disabledButton: !inStock }"
          >
        Add to cart
        </button>

        <div class="cart">
          <p>Cart({{ cart }})</p>
        </div>

      </div> 
    
  </div>
</div> 
-->

 <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>-->
 <script src="opensource/vue.js"></script>
 <script src="app.js"></script>
</body>
</html>