body {
  font-family: tahoma;
  color: #282828;
  margin: 0px;
}

.command-bar {
  /*background: linear-gradient(-90deg, #84CF6A, #16C0B0);*/
  /*height: 60px;*/
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

button {
  font-family: tahoma;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid gray;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  background: white;
} 

button.selected {
  border: 1px solid black;
  color: white;
  background-color: #1E95EA;
}

button.new {
  border-style: dashed;
}

label {
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 150px;
}

row {
  display: flex;
  padding: 5px;
}

/*
.strikeThrough {
  text-decoration: line-through
}

.product {
  display: flex;
}

img {
  border: 1px solid #d8d8d8;
  width: 70%;
  margin: 40px;
  box-shadow: 0px .5px 1px #d8d8d8;
}

.product-image {
  flex-basis: 700px;
}

.product-info {
  margin-top: 10px;
  flex-basis: 500px;
}
*/